<h1>Registration page</h1>

<fieldset>

<input id="name" name="name" placeholder='name'></input>


</fieldset>

<fieldset>
<input id="email" name="email" placeholder='email'></input>
<input id="confirmEmail" name="confirmEmail" placeholder='confirmEmail'></input>

</fieldset>


<fieldset>
<input id="password" name="password" placeholder='password' type="password"></input>
<input id="confirmPassword" name="confirmPassword" placeholder='confirmPassword' type="password"></input>
</fieldset>






<button id="submit">Registrate</button>
<button id="back">Back</button>


